.content{ 
  height: 50vh;
  margin: 0;
  padding: 0;
  background-color: #555555;
  border: none;
}

.content-loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon{
  animation: logo-spin infinite 2s linear;
  height: 15vh;
  margin: 20px;
}

.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content-list{
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.left-arrow{
  cursor: pointer;
  width: 200px;
  margin: 0 20px 0 20px;
}

.left-arrow:hover{
  animation: left-arrow-move infinite 1s linear;
}

.left-arrow img{
  width: 50px;
  height: 200px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
}

.right-arrow{
  cursor: pointer;
  width: 200px;
  margin: 0 30px 0 30px;
}

.right-arrow:hover{
  animation: right-arrow-move infinite 1s linear;
}

.right-arrow img{
  width: 30px;
  height: 200px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}

#greensaber{
  filter: drop-shadow(0px -70px 8px #8cbe3c);
}

#bluesaber{
  filter: drop-shadow(0px -70px 8px #1eaae1);
}

.items-list{
  width: 50vw;
  margin-left: 0;
  padding-left: 0;
}

.trigger{
  list-style-type: none;
  cursor: pointer;
  font-size: 22px;
  margin: 5px 0 5px 0;
  text-shadow: 0 0 20px #921816;
}

.trigger:hover{
  color: #921816;
  filter: invert(100%);
  z-index: -1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes left-arrow-move {
  from {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px)
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes right-arrow-move {
  from {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px)
  }
  to {
    transform: translateX(0px);
  }
}